In [22]:
# Importing the required libraries
import sklearn as sklearn
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso#Loading the dataset

In [23]:
import plotly.express as px
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import pickle

In [24]:
df = pd.read_csv('playerAllInfo_aftermissingvales_no_normalization_4.csv')
df.head(5)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,RM,RS,RW,RWB,ST,Position,Position-DEF,Position-FWD,Position-GK,Position-MID
0,20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,95500000,565000,2228,...,89,92,91,66,92,FWD,0,1,0,0
1,158023,L. Messi,30,Argentina,93,93,FC Barcelona,105000000,565000,2154,...,90,88,91,62,88,MID,0,0,0,1
2,190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,123000000,280000,2100,...,87,84,89,64,84,MID,0,0,0,1
3,176580,L. Suárez,30,Uruguay,92,92,FC Barcelona,97000000,510000,2291,...,85,88,87,68,88,FWD,0,1,0,0
4,167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,61000000,230000,1493,...,60,58,59,58,58,GK,0,0,1,0

In [25]:
# To identify the type of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 74 columns):
ID                    17981 non-null int64
Name                  17981 non-null object
Age                   17981 non-null int64
Nationality           17981 non-null object
Overall               17981 non-null int64
Potential             17981 non-null int64
Club                  17981 non-null object
Value                 17981 non-null int64
Wage                  17981 non-null int64
Special               17981 non-null int64
Acceleration          17981 non-null int64
Aggression            17981 non-null int64
Agility               17981 non-null int64
Balance               17981 non-null int64
Ball_control          17981 non-null int64
Composure             17981 non-null int64
Crossing              17981 non-null int64
Curve                 17981 non-null int64
Dribbling             17981 non-null int64
Finishing             17981 non-null int64
Free_kick_accuracy    17981 non-null int64
GK_diving             17981 non-null int64
GK_handling           17981 non-null int64
GK_kicking            17981 non-null int64
GK_positioning        17981 non-null int64
GK_reflexes           17981 non-null int64
Heading_accuracy      17981 non-null int64
Interceptions         17981 non-null int64
Jumping               17981 non-null int64
Long_passing          17981 non-null int64
Long_shots            17981 non-null int64
Marking               17981 non-null int64
Penalties             17981 non-null int64
Positioning           17981 non-null int64
Reactions             17981 non-null int64
Short_passing         17981 non-null int64
Shot_power            17981 non-null int64
Sliding_tackle        17981 non-null int64
Sprint_speed          17981 non-null int64
Stamina               17981 non-null int64
Standing_tackle       17981 non-null int64
Strength              17981 non-null int64
Vision                17981 non-null int64
Volleys               17981 non-null int64
CAM                   17981 non-null int64
CB                    17981 non-null int64
CDM                   17981 non-null int64
CF                    17981 non-null int64
CM                    17981 non-null int64
LAM                   17981 non-null int64
LB                    17981 non-null int64
LCB                   17981 non-null int64
LCM                   17981 non-null int64
LDM                   17981 non-null int64
LF                    17981 non-null int64
LM                    17981 non-null int64
LS                    17981 non-null int64
LW                    17981 non-null int64
LWB                   17981 non-null int64
RAM                   17981 non-null int64
RB                    17981 non-null int64
RCM                   17981 non-null int64
RDM                   17981 non-null int64
RF                    17981 non-null int64
RM                    17981 non-null int64
RS                    17981 non-null int64
RW                    17981 non-null int64
RWB                   17981 non-null int64
ST                    17981 non-null int64
Position              17981 non-null object
Position-DEF          17981 non-null int64
Position-FWD          17981 non-null int64
Position-GK           17981 non-null int64
Position-MID          17981 non-null int64
dtypes: int64(70), object(4)
memory usage: 10.2+ MB

In [26]:
# Getting the number of instances and features
df.shape

(17981, 74)

In [27]:
# Getting the dimensions of the data frame
df.ndim

2

In [28]:
df.describe()

,ID,Age,Overall,Potential,Value,Wage,Special,Acceleration,Aggression,Agility,...,RF,RM,RS,RW,RWB,ST,Position-DEF,Position-FWD,Position-GK,Position-MID
count,17981.000000,17981.000000,17981.000000,17981.000000,1.798100e+04,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,...,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000,17981.000000
mean,207658.710138,25.144541,66.247984,71.190813,2.385390e+06,11546.966242,1594.095100,103.445526,77.620711,98.149880,...,59.026639,60.051221,58.181024,59.318725,57.732718,58.181024,0.302542,0.138035,0.112841,0.446583
std,32291.667313,4.614272,6.987965,6.102199,5.353970e+06,23080.000139,272.151435,984.876244,768.805831,909.694714,...,9.350112,8.805897,8.648081,9.398922,8.612042,8.648081,0.459371,0.344946,0.316408,0.497152
min,16.000000,16.000000,46.000000,46.000000,0.000000e+00,0.000000,728.000000,11.000000,11.000000,14.000000,...,27.000000,28.000000,31.000000,26.000000,31.000000,31.000000,0.000000,0.000000,0.000000,0.000000
25%,192622.000000,21.000000,62.000000,67.000000,3.000000e+05,2000.000000,1449.000000,56.000000,43.000000,55.000000,...,54.000000,55.000000,53.000000,54.000000,52.000000,53.000000,0.000000,0.000000,0.000000,0.000000
50%,214057.000000,25.000000,66.000000,71.000000,6.750000e+05,4000.000000,1633.000000,67.000000,59.000000,65.000000,...,59.000000,60.000000,58.000000,59.000000,58.000000,58.000000,0.000000,0.000000,0.000000,0.000000
75%,231448.000000,28.000000,71.000000,75.000000,2.100000e+06,12000.000000,1786.000000,75.000000,69.000000,74.000000,...,65.000000,66.000000,64.000000,66.000000,64.000000,64.000000,1.000000,0.000000,0.000000,1.000000
max,241219.000000,47.000000,94.000000,94.000000,1.230000e+08,565000.000000,2291.000000,33270.000000,43495.000000,30164.000000,...,92.000000,90.000000,92.000000,91.000000,84.000000,92.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
##Creating new dataframe having only required columns
df_req = df[['Overall', 'Potential','Value']]
df_req.head()

   Overall  Potential      Value
0       94         94   95500000
1       93         93  105000000
2       92         94  123000000
3       92         92   97000000
4       92         92   61000000

### Predicting the Wage using Linear Regression

In [30]:
X= df_req

##X= df.drop(['ID','Name','Wage', 'Nationality','Position','Club'], axis=1) ##Independent Variable
y= df['Wage'] ##Class or dependent variable

In [31]:
y.head()

0    565000
1    565000
2    280000
3    510000
4    230000
Name: Wage, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split

from sklearn import metrics 

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size= 0.20)

In [37]:
##initiate the model
model= LinearRegression()
##Fiting the model
model_fit= model.fit(X_train, y_train)

In [38]:
##Testing the model
test_predict = model_fit.predict(X_test)

In [52]:
##Root Mean Square error(RMSE)
rmse_lreg= np.sqrt(metrics.mean_squared_error(y_test, test_predict))
print('Root Mean squared error RMSE: ' +str(rmse_lreg))

Root Mean squared error RMSE: 11209.539216515175

In [53]:
from sklearn.metrics import r2_score
r2_lreg = r2_score(y_test, test_predict)
print("R2 SCORE ON TEST DATA: {}".format(r2_lreg))

R2 SCORE ON TEST DATA: 0.7116537094550033

### Predicting and Test evaluating the Wage using RandomForest

In [34]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor(n_estimators = 500, random_state = 0)
model_fit_RF= modelRF.fit(X_train, y_train)
##Testing the model
test_predict_RF = model_fit_RF.predict(X_test)

In [54]:
from sklearn.metrics import mean_squared_error
rmse_rf = np.sqrt(mean_squared_error(y_test, test_predict_RF))
print("RMSE: %f" % (rmse_rf))

RMSE: 11416.643615

In [55]:
from sklearn.metrics import r2_score
r2_rf = r2_score(y_test, test_predict_RF)
print("R2 SCORE ON TEST DATA: {}".format(r2_rf))

R2 SCORE ON TEST DATA: 0.7009004664103766

In [75]:
# Saving model to disk
##pickle.dump(modelRF, open('model_RF.pkl','wb'))

In [76]:
# Loading model to compare the results
##model = pickle.load(open('model_RF.pkl','rb'))
##print(model.predict([[85, 82, 22000000]]))

[94040.]

### Predicting using XGBoost

In [41]:
import xgboost
import scipy.stats as st

one_to_left = st.beta(10, 1)  
from_zero_positive = st.expon(0, 50)

params = {  
    "n_estimators": st.randint(3, 40),
    "max_depth": st.randint(3, 40),
    "learning_rate": st.uniform(0.05, 0.4),
    "colsample_bytree": one_to_left,
    "subsample": one_to_left,
    "gamma": st.uniform(0, 10),
    'reg_alpha': from_zero_positive,
    "min_child_weight": from_zero_positive,
}

xgbreg = xgboost.XGBRegressor(nthreads=-1)

In [42]:
## Hyperparameter optimization using RandomizedSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [45]:
random_search=RandomizedSearchCV(xgbreg,params,n_iter=10,n_jobs=-1,cv=10,verbose=3)

In [46]:

def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [47]:
from datetime import datetime
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X_train,y_train.ravel())
timer(start_time) # timing ends here for "start_time" variable

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   13.4s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   16.7s finished

[11:33:04] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

 Time taken: 0 hours 0 minutes and 16.86 seconds.

In [48]:
random_search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.8729940430674914,
       gamma=5.3742382843959415, importance_type='gain',
       learning_rate=0.33238702603934533, max_delta_step=0, max_depth=6,
       min_child_weight=36.86440238750611, missing=None, n_estimators=18,
       n_jobs=1, nthread=None, nthreads=-1, objective='reg:linear',
       random_state=0, reg_alpha=77.50839220448292, reg_lambda=1,
       scale_pos_weight=1, seed=None, silent=None,
       subsample=0.9815950743972734, verbosity=1)

In [49]:
modelXGB=xgboost.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.8729940430674914,
       gamma=5.3742382843959415, importance_type='gain',
       learning_rate=0.33238702603934533, max_delta_step=0, max_depth=6,
       min_child_weight=36.86440238750611, missing=None, n_estimators=18,
       n_jobs=1, nthread=None, nthreads=-1, objective='reg:linear',
       random_state=0, reg_alpha=77.50839220448292, reg_lambda=1,
       scale_pos_weight=1, seed=None, silent=None,
       subsample=0.9815950743972734, verbosity=1)

In [56]:
modelXGB.fit(X_train,y_train)
test_predict_XGB = modelXGB.predict(X_test)
# Predict (after fitting GridSearchCV is an estimator with best parameters)
y_pred = modelXGB.predict(X_test)
 
# Score
from sklearn.metrics import r2_score
r2_xgb = r2_score(y_test, y_pred)
print("R2 SCORE ON TEST DATA: {}".format(r2_xgb))

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning:

Series.base is deprecated and will be removed in a future version

[12:00:48] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
R2 SCORE ON TEST DATA: 0.7338511164484186

In [51]:
from sklearn.metrics import mean_squared_error
rmse_xgb = np.sqrt(mean_squared_error(y_test, test_predict_XGB))
print("RMSE: %f" % (rmse_xgb))

RMSE: 10769.434536